<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sns.app.follow.FollowMapper">

	<insert id="follow" parameterType="FollowDTO"
		useGeneratedKeys="true" keyProperty="followNo">
		INSERT INTO "FOLLOW"
		("USER_FOLLOWER", "FOLLOW_DATE", "USER_FOLLOWING")
		VALUES (
		#{userFollower},
		now(),
		#{userFollowing}
		)
		ON CONFLICT ("USER_FOLLOWER",
		"USER_FOLLOWING") DO NOTHING
	</insert>


	<resultMap id="detailResult" type="FollowDTO">
		<id column="FOLLOW_NO" property="followNo" />
		<result column="USER_FOLLOWER" property="userFollower" />
		<result column="FOLLOW_DATE" property="followDate" />
		<result column="USER_FOLLOWING" property="userFollowing" />
		<result column="FEED_NO" property="feedNo" />
		<result column="MUTUAL" property="mutual" />

		<association property="memberDTO" javaType="MemberDTO">
			<result column="USER_NO" property="userNo" />
			<result column="USER_NICKNAME" property="userNickname" />

			<association property="profileDTO" javaType="ProfileDTO">
				<id column="PROFILE_FILE_NO" property="fileNo" />
				<result column="PROFILE_FILE_NAME" property="fileName" />
				<result column="PROFILE_ORI_NAME" property="oriName" />
			</association>

		</association>
	</resultMap>

	<delete id="delete" parameterType="FollowDTO">
		DELETE FROM "FOLLOW"
		WHERE
		"USER_FOLLOWER" = #{userFollower}
		AND "USER_FOLLOWING" =
		#{userFollowing}
	</delete>

	<select id="followingCount"
		parameterType="com.sns.app.pager.Pager" resultType="long">
		SELECT COUNT(*)
		FROM "FOLLOW" f
		INNER JOIN "USER" u ON u."USER_NO" =
		f."USER_FOLLOWING"
		WHERE f."USER_FOLLOWER" = #{userNo}
		<if test="search != null and search != ''">
			AND upper(u."USER_NICKNAME") LIKE '%' || upper(#{search})
			|| '%'
		</if>
	</select>

	<select id="followerCount"
		parameterType="com.sns.app.pager.Pager" resultType="long">
		SELECT COUNT(*)
		FROM "FOLLOW" f
		INNER JOIN "USER" u ON u."USER_NO" =
		f."USER_FOLLOWER"
		WHERE f."USER_FOLLOWING" = #{userNo}
		<if test="search != null and search != ''">
			AND upper(u."USER_NICKNAME") LIKE '%' || upper(#{search})
			|| '%'
		</if>
	</select>

	<select id="followingList"
		parameterType="com.sns.app.pager.Pager" resultMap="detailResult">
		SELECT u.*,
		ui."FILE_NO" AS "PROFILE_FILE_NO",
		ui."FILE_NAME" AS
		"PROFILE_FILE_NAME",
		ui."ORI_NAME" AS "PROFILE_ORI_NAME",
		r.*,
		EXISTS (
		SELECT 1 FROM "FOLLOW" f
		WHERE f."USER_FOLLOWER" = u."USER_NO"
		AND
		f."USER_FOLLOWING" = #{userNo}
		) AS "MUTUAL"
		FROM "FOLLOW" f
		INNER JOIN
		"USER" u ON u."USER_NO" = f."USER_FOLLOWING"
		LEFT JOIN "USER_IMG" ui
		USING ("USER_NO")
		LEFT JOIN "USER_ROLE" USING
		("USER_NO")
		LEFT JOIN
		"ROLE" r USING ("ROLE_NO")
		WHERE f."USER_FOLLOWER" = #{userNo}
		<if test="search != null and search != ''">
			AND upper(u."USER_NICKNAME") LIKE '%' || upper(#{search})
			|| '%'
		</if>
		ORDER BY
		u."USER_NO"
		LIMIT #{perPage} OFFSET #{startNum}
	</select>

	<select id="followerList"
		parameterType="com.sns.app.pager.Pager" resultMap="detailResult">
		SELECT u.*,
		ui."FILE_NO" AS "PROFILE_FILE_NO",
		ui."FILE_NAME" AS
		"PROFILE_FILE_NAME",
		ui."ORI_NAME" AS "PROFILE_ORI_NAME",
		r.*,
		EXISTS (
		SELECT 1 FROM "FOLLOW" f
		WHERE f."USER_FOLLOWER" = #{userNo}
		AND
		f."USER_FOLLOWING" = u."USER_NO"
		) AS "MUTUAL"
		FROM "FOLLOW" f
		INNER JOIN
		"USER" u ON u."USER_NO" =
		f."USER_FOLLOWER"
		LEFT JOIN "USER_IMG" ui
		USING ("USER_NO")
		LEFT JOIN
		"USER_ROLE" USING ("USER_NO")
		LEFT JOIN
		"ROLE" r USING ("ROLE_NO")
		WHERE f."USER_FOLLOWING" = #{userNo}
		<if test="search != null and search != ''">
			AND upper(u."USER_NICKNAME") LIKE '%' || upper(#{search})
			|| '%'
		</if>
		ORDER BY
		u."USER_NO"
		LIMIT
		#{perPage} OFFSET #{startNum}
	</select>

	<select id="mutualList" parameterType="com.sns.app.pager.Pager"
		resultMap="detailResult">
		SELECT u.*, ui."FILE_NO" AS "PROFILE_FILE_NO",
		ui."FILE_NAME" AS
		"PROFILE_FILE_NAME",
		ui."ORI_NAME" AS
		"PROFILE_ORI_NAME",
		r.*,
		EXISTS (
		SELECT 1 FROM "FOLLOW" f2
		WHERE
		f2."USER_FOLLOWER" = f."USER_FOLLOWING"
		AND f2."USER_FOLLOWING" =
		#{userNo}
		) AS "MUTUAL"
		FROM "FOLLOW" f
		INNER JOIN "USER" u ON
		u."USER_NO" = f."USER_FOLLOWING"
		LEFT JOIN "USER_IMG" ui USING
		("USER_NO")
		LEFT JOIN "USER_ROLE" USING ("USER_NO")
		LEFT JOIN "ROLE" r
		USING ("ROLE_NO")
		WHERE f."USER_FOLLOWER" = #{userNo}
		AND EXISTS (
		SELECT 1 FROM "FOLLOW" f2
		WHERE f2."USER_FOLLOWER" =
		f."USER_FOLLOWING"
		AND f2."USER_FOLLOWING" = #{userNo}
		)
		ORDER BY u."USER_NO"
		LIMIT
		#{perPage} OFFSET #{startNum}
	</select>

	<select id="isMatchedFollowCount"
		parameterType="com.sns.app.pager.Pager" resultType="long">
		SELECT COUNT(*)
		FROM "FOLLOW" f1
		WHERE f1."USER_FOLLOWER" = #{currentUserNo}
		AND EXISTS (
			SELECT 1
			FROM "FOLLOW" f2
			WHERE f2."USER_FOLLOWER" = f1."USER_FOLLOWING"
			AND f2."USER_FOLLOWING" = f1."USER_FOLLOWER"
		)
	</select>

	<select id="isMatchedFollow" resultMap="detailResult">
		SELECT
		u.*,f1.*,ui."FILE_NO" AS "PROFILE_FILE_NO",
		ui."FILE_NAME" AS
		"PROFILE_FILE_NAME",
		ui."ORI_NAME" AS "PROFILE_ORI_NAME",r.*
		FROM "FOLLOW" f1
		INNER JOIN "USER" u
		ON u."USER_NO" = f1."USER_FOLLOWING"
		LEFT JOIN "USER_IMG" ui
		ON u."USER_NO" = ui."USER_NO"
		LEFT JOIN "USER_ROLE" ur
		ON u."USER_NO" = ur."USER_NO"
		LEFT JOIN "ROLE" r
		ON ur."ROLE_NO" = r."ROLE_NO"
		WHERE f1."USER_FOLLOWER" = #{userFollower}
		AND EXISTS (
		SELECT 1
		FROM "FOLLOW" f2
		WHERE f2."USER_FOLLOWER" = f1."USER_FOLLOWING"
		AND f2."USER_FOLLOWING" = f1."USER_FOLLOWER"
		)
		ORDER BY u."USER_NO"
		LIMIT #{pager.perPage} OFFSET #{pager.startNum}
	</select>


	<select id="isFollowing" parameterType="FollowDTO"
		resultType="boolean">
		SELECT EXISTS (
		SELECT 1
		FROM "FOLLOW"
		WHERE "USER_FOLLOWER" =
		#{userFollower}
		AND "USER_FOLLOWING" = #{userFollowing}
		)
	</select>



</mapper>
